<div class="jumbotron text-center" ng-if="!main.loggedIn">
	<div>
		<h1>Getting Started!</h1>
	</div>
	<div>
		<p>Login to see your RSS Feeds</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>
</div>

<div class="row" ng-if="main.loggedIn" ng-controller="FeedController as feed">

	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				RSS Feed Url
			</div>
			<div class="panel-body">
				<form ng-submit="feed.createFeed()">
					<input type="text" class="form-control input-lg" ng-model="feed.feedData.content" placeholder="Enter url" required>
				</form>
			</div>
		</div>
	 </div>
	 <div class="row">
 		<div class="panel panel-success"  ng-repeat="each in feed.feeds">
 			<div class="panel-heading">{{each.title}}</div>
 			<div class="panel-body" ng-repeat="entry in each.entries" >
 				<h5><a href="{{entry.link}}">{{entry.title}}</a></h5>                                        
                    <p class="text-left">{{entry.contentSnippet}}</p>                    
                    <span class="small">{{entry.publishedDate}}</span>
 			</div>
 			</div>
    	</div>
    </div>
    
</div>